target/
**/*.rs.bk
Cargo.lock.bak

# mkdocs build output
site/

.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.dylib

dist/
wheels/
build/
*.egg-info/
.eggs/

.mypy_cache/
.ruff_cache/
.pytest_cache/
.hypothesis/
.coverage
.coverage.*
htmlcov/
coverage.xml
.tox/

.idea/
.vscode/
*.iml
.DS_Store

.semgrep/
.bandit/

node_modules/
tmp/
